@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.page {
  width: 100%;
  height: 100%;
}

.pickers {
  background-color: gray;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.action {
  position: relative;
  width: calc(80% - 40px);
  height: 100%;
  float: right;
  overflow: hidden;
}

#cat {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  border: 5px solid red;
  margin: 50px;
  background-color: white;
}

#play-btn {
  margin-left: 50px;
}
