<div class="page">

<div class="pickers">
  <div class="picker__item">
    <span class="text-middle">Our files:</span><br>

    <mat-list>
     <mat-list-item *ngFor="let fileName of fileList$ | async" >
       {{fileName}}
       <!-- <img src="./files/{{fileName}}"> -->
       <button mat-flat-button (click)="download(fileName)">download</button>
       <button mat-flat-button (click)="remove(fileName)">remove</button>
       <button mat-flat-button color="primary" (click)="changeImage(fileName)">Let's use this one</button>
     </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <span class="text-middle">Upload file:</span><br>
    <form [formGroup] = "formGroup" (ngSubmit)="onSubmit()">
     <input type="file" (change)="onFileChange($event)" />
     <input type="submit" [disabled]="formGroup.invalid" value="upload" />
    </form>
    <img src="https://www.google.com.ua/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwjE47mK1J_mAhVvyqYKHTQBD5gQjRx6BAgBEAQ&url=https%3A%2F%2Fgfycat.com%2Fjointrevolvingantelopegroundsquirrel-spinner-loader&psig=AOvVaw3zz0uYh6oAG8--LfcJvoOr&ust=1575674765120047" *ngIf="displayLoader | async" />
  </div>
  <mat-divider></mat-divider>
  <div class="picker__item">
    <span class="text-middle">Background Color</span><br>
    <input [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="onChangeColor($event)"/>
  </div>
  <mat-divider></mat-divider>
  <div class="picker__button">
  <button mat-flat-button color="primary" (click)="start()">Let's start</button>
  <br><br>
  <button mat-flat-button color="primary" (click)="record()">Let's save</button>
</div>
</div>

<div class="action" id="actionPage">
  <img [src]="imageSrc" width="100px" id="cat">
  <canvas id="canvas" #canvas width="1920" height="1080"></canvas>
  <div>
  <button id="play-btn" mat-flat-button color="accent" (click)="play()">Play</button>
  </div>
</div>
</div>
