<div class="page">

<div class="pickers">
  <div class="picker__item">

        <!-- <input type="file" class="form-control" (change)="onFileChange($event)"> -->
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

        <button type="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length" >
              Upload an Image
        </button>

  </div>
  <mat-divider></mat-divider>
  <div class="picker__item">
    <span class="text-middle">Move Speed</span><br>
    <span class="text-small">0.5</span>
    <mat-slider
      thumbLabel
      min="0.5"
      max="5"
      step="0.1"
      value="0.5"
      (change)="onChangeMoveTime($event)">
    </mat-slider>
    <span class="text-small">5 sec</span>
  </div>
  <mat-divider></mat-divider>
  <div class="picker__item">
    <span class="text-middle">Color Speed</span><br>
    <span class="text-small">0.1</span>
      <mat-slider thumbLabel  min="0.1" max="5" step="0.05" value="0.1" color="primary" (change)="onChangeColorTime($event)"></mat-slider>
    <span class="text-small">5 sec</span>
  </div>
  <mat-divider></mat-divider>
  <div class="picker__item">
    <span class="text-middle">Background Color</span><br>
    <input [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="onChangeColor($event)"/>
  </div>
  <mat-divider></mat-divider>
  <div class="picker__item">
    <span class="text-middle">Resize Speed</span><br>
    <span class="text-small">0.1</span>
      <mat-slider thumbLabel  min="0.1" max="5" step="0.05" value="0.1" color="warn" (change)="onChangeSizeTime($event)"></mat-slider>
    <span class="text-small">5 sec</span>
  </div>
  <mat-divider></mat-divider>
  <div class="picker__item">
    <span class="text-middle">Resize Range</span><br>
    <span class="text-small">0.1x </span>
      <mat-slider thumbLabel  min="0.1" max="5" step="0.05" value="5" color="warn" (change)="onChangeSize($event)"></mat-slider>
    <span class="text-small">5x</span>
  </div>
  <mat-divider></mat-divider>
  <div class="picker__button">
  <button mat-flat-button color="primary" (click)="start()">Let's start</button>
  <br><br>
  <button mat-flat-button color="primary" (click)="record()">Let's save</button>
</div>
</div>

<div class="action" id="actionPage">
  <img [src]="url" width="100px" id="cat">
  <canvas id="canvas" #canvas width="1920" height="1080"></canvas>
  <div>
  <button id="play-btn" mat-flat-button color="accent" (click)="play()">Play</button>
  </div>
</div>
</div>




<router-outlet></router-outlet>
